
*{
    box-sizing: border-box;
}
body{
    margin:0;
    box-sizing: border-box;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;
    background: linear-gradient(#ffefba,  #ffffff);

}

.container{
    width: 100%;
    min-height: 100vh;
    padding:20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;




}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn{
    cursor: pointer;
    font-size: 30px;
    padding:20px;
    background-color: transparent;
    border:none;
    color:#202124;
    text-transform: uppercase;
    font-weight: 400;
    transition: .5s;
    font-family: 'Archivo Black', sans-serif;
}
.btn:hover{
    color:#ad5389;
}
.HowToPlay{


margin:5px;
max-width: 1000px;
    padding:10px;


}
.closerD{
    position: absolute;
    width:50px;
    height: 50px;
    top:10%;
    right:10%;
    background: none;
    border:none;
}
.closer{
    font-size: 30px;
}
li{
    padding:10px;
}
.rankingSection{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
.rankingSection h1{
    margin:50px;
}
.gameBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#de6262, #ffb88c);
    padding:10px;
    border-radius: 25px;


    font-size: 18px;
    max-width: 1000px;
    width: 90%;
}
.gameSection{

    width: 100%;
}
.scoreResult{
    margin:50px;
    font-family: 'Poppins', sans-serif;
    color:White;
    padding:10px;
    font-weight: 300;
    font-size: 40px;
}
.ring{
    background: none;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    border: none;
    padding:25px 20px;
    border-radius: 50%;
    margin:10px;
    text-transform: uppercase;
display: inline-block;
width: 100px;
height: 100px;
background-color: #ad5389;
}


.question{
    margin:20px;
    font-size: 25px;
    text-transform: uppercase;
    color:white;
}
.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    color:white;


}
.answer{
    margin:10px;
    border:3px solid #3c1053;
    padding:20px 20px;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background: none;
    color:white;
}
.answer:hover{
    background-color: #ad5389;
}
.correct{
    background-color: #A8EE98;
}
.wrong{
    background-color: #FE6F6F;
}
.canUse{
    background-color: #ad5389;
    cursor: pointer;
    color:white;
}
.canUse:hover{
background-color: #3c1053;
color:white;

}

.hide{
    display: none;
}
@media screen and (max-width: 600px) {
    .HowToPlay{
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) {
    .answers{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .answer{
        flex:45%;
    }
}